<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href={{ url_for("static", filename = "style.css") }} />
<title>home GPT</title>
</head>

<body onLoad="wd_chat_bottom()">

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

<div id="wd_chat_head" class="wd_chat_head">Chat with home GPT</div>
<div id="wd_chat_head" class="wd_chat_greetings">{{greetings}}</div>
<div class="wd_chat" id="wd_chat">
	<ul class="wd_chatlist">
		{% for rep in messages %}
			{% if rep["role"] == "system" %}
				<li class="wd_chatlist_bot">{{rep["content"]}}</li>
			{% else %}
				<li class="wd_chatlist_user">{{rep["content"]}}</li>
			{% endif %}
		{%endfor%}
	</ul>
</div>

	<form name="chatinput" id="chatinput" method="post" action="{{sub_path}}" onSubmit="check_input('wd_chatinput')">
	  <textarea name="wd_chatinput" class="wd_chatinput" id="wd_chatinput" cols="120" rows="3"></textarea>
	  <input name="SubmitC" id= "SubmitC" type="submit" class="wd_submitchat" value="Enter">
	  <a href="{{sub_path}}" class="wd_cancelchat">Cancel</a>
	  <input name="session_id" type="text" class="wd_session_id" value="{{session_id}}">
	</form>

<script type="text/javascript" language="JavaScript">

function fill_input(v){
	if (v == "" ) return;
	document.getElementById("wd_testinput").value = v;
}

function check_input(form){
	if (document.getElementById(form).value==""){
		return false;
	}
}

function wd_chat_bottom(){
	var objDiv = document.getElementById("wd_chat");
	objDiv.scrollTop = objDiv.scrollHeight;
}

</script>
</body>
</html>
