body {
	font-family: Arial, Helvetica, sans-serif;
}

td {
	font-family: Arial, Helvetica, sans-serif;
 	word-wrap: break-word;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.wd_h1{
	font-size: 24px;
    margin-top: 0px;
}
.wd_h2{
	font-size: 22px;
}
.linktosource{
	font-size: 10px;
	font-style:italic;
}
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.wd_chat_head{
	position:absolute;
	font-size: 16px;
	font-weight:600;
	top: 10px;
	left: 20px;
}
.wd_chat_greetings{
	position:absolute;
	font-size: 16px;
	top: 30px;
	left: 20px;
}
.wd_chat{
	position:absolute;
	top: 55px;
	left: 15px;
	max-height: 490px;
	width: 800px;
	background:#EEEEEE;
    border-style: solid;
    border-width: thin;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 3px;
}
.wd_chatlist{
    -webkit-margin-before: 2px;
	padding-left: 3px;
}
.wd_chatlist_user{
	list-style-type:none;
	font-size: 14px;
	background-color:#D8FFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
	width: 750px;
	min-height:20px;
	box-shadow: 3px 3px 5px #888888;
	border-radius: 3px;
	overflow-wrap: break-word;
	word-wrap: break-word;
  	white-space: normal;
}
.wd_chatlist_bot{
	list-style-type:none;
	font-size: 14px;
	background-color: #FFFFEE;
    padding-top: 5px;
	padding-bottom: 5px;
    padding-left: 10px;
	margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
	width: 745px;
	min-height:20px;
	box-shadow: 3px 3px 5px #888888;
	border-radius: 3px;
	overflow-wrap: break-word;
	word-wrap: break-word;
  	white-space: normal;
 }
.wd_chatinput{
	position:absolute;
	top: 550px;
	left: 15px;
	width: 720px;
    height: 150px;
	background-color:#D8FFFF;
	border-radius: 3px;
}
.wd_submitchat{
	position:absolute;
	top: 601px;
	left: 750px;
	font-size: 16px;
	font-weight:bold;
	height: 24px;
	width: 60px;
	vertical-align:middle;
    box-shadow: 1px 1px 5px #888888;
}
.wd_cancelchat{
	position:absolute;
	top: 630px;
	left: 750px;
	font-size: 16px;
	height: 22px;
    padding-top: 2px;
	width: 60px;
	background:#CCCCCC;
	text-align:center;
	border-radius: 3px;
	text-decoration:none;
    box-shadow: 1px 1px 5px #888888;
}
.wd_cancelchat:visited {
	color: black;
}
.wd_session_id{
	position:absolute;
	top: 670px;
	left: 750px;
	font-size: 10px;
	height: 24px;
	width: 55px;
	vertical-align:middle;
}

.wd_scrollable{
	position:absolute;
	top: 330px;
	left: 560px;
	max-height: 400px;
	width:500px;
	background:#FFFFFF;
    overflow-x: hidden;
	overflow-y: auto;
}
